<div class="cards">
  <a class="card" href="{{ '/getting-started' | relative_url }}">
    <div class="card-body">
      <h5 class="card-title">Getting started</h5>
      <h6 class="card-subtitle text-muted">Start here for tips on getting acquainted and booking your first group meal</h6>
    </div>
  </a>
  <a class="card" href="{{ '/venue-support' | relative_url }}">
    <div class="card-body">
      <h5 class="card-title">Venue support</h5>
      <h6 class="card-subtitle text-muted">Learn how to get started with GamePlan as a venue and manage your listings on GamePlan.</h6>
    </div>
  </a>
</div>
