---
---

@import '{{ site.theme }}';

a.card {
  &:hover {
    text-decoration: none;
    background: #fcfcfc;
  }

  h6 {
    margin: 0;
  }
}

.cards .card {
  border-radius: 0;

  &:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  &:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
}

.site-footer {
  margin-top: 35px;
  padding: 40px 0;
  text-align: left;
  font-size: 14px;
  color: #a3abb5;

  .site-footer-logo {
    height: 50px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;

    img {
      max-height: 32px;
      -webkit-filter: grayscale(100%) contrast(80%);
      filter: grayscale(100%) contrast(80%);
    }
  }

  .site-footer-links {
    margin-top: 14px;
    margin-bottom: 28px;

    .site-footer-links-list {
      padding: 0;
      text-align: center;

      .site-footer-link {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        list-style-type: none;
      }
    }
  }

  a {
    color: #909aa5;
    text-decoration: none;
  }
}
